@using FancyFix.OA.Model
@{
    ViewBag.Title = "Point";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Mng_User> ranklist = ViewBag.ranklist;
    int startyear = ViewBag.startyear;

    int year = ViewBag.year;
    int fromMonth = ViewBag.fromMonth;
    int toMonth = ViewBag.toMonth;
    int departId = ViewBag.departId;
    string realname = ViewBag.realname;
    int injob = ViewBag.injob;
}
@section Css{
    <link href="/Content/js/plugins/datatables/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .callout a {
            text-decoration: none;
            width: 150px;
        }
    </style>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">考核排名：</h3>
        </div>
        <div class="box-header">
            <div class="pull-left form-group">
                进程：
                <select id="year" name="year" class="layui-select" style="max-width:100px;">
                    @for (int i = startyear; i <= DateTime.Now.Year + 1; i++)
                    {
                        <option value="@i" @(i == year ? "selected" : "")>@i 年</option>
                    }
                </select>
                <select id="fromMonth" name="fromMonth" class="layui-select" style="max-width:80px;">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i" @(fromMonth == i ? "selected" : "")>@i 月</option>
                    }
                </select>
                <select id="toMonth" name="toMonth" class="layui-select" style="max-width:80px;">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i" @(toMonth == i ? "selected" : "")>@i 月</option>
                    }
                </select>
                <select id="departId" name="departId" class="layui-select" style="max-width:150px;">
                    <option value="0">├所有部门</option>
                    @Html.Raw(ViewBag.departHtml)
                </select>
                <select id="injob" name="injob" class="layui-select" style="max-width:100px;">
                    <option value="-1" @(injob == -1 ? "selected" : "")>全部</option>
                    <option value="1" @(injob == 1 ? "selected" : "")>在职</option>
                    <option value="2" @(injob == 2 ? "selected" : "")>离职</option>
                </select>
            </div>
            <div class="pull-left form-group" style="margin-left:5px;">
                <span class="form-contorl pull-left layui-form-mid">姓名</span>
                <input type="text" name="realname" id="realname" class="layui-input pull-left" value="@realname" style="max-width:80px">
                <a id="btn-submit" href="javascript:void(0)" class="btn btn-default pull-left" style="margin-left:5px;">确定</a>
            </div>
            <a href="/rank/rank" class="btn btn-default pull-right">返回</a>
        </div>
        <div class="box-header">
            <div class="form-group form-inline">
                @if (IsSuperAdmin || IsDepartAdmin)
                {
                    <a href="/rank/kpi/toexcelrank?year=@year&fromMonth=@fromMonth&toMonth=@toMonth&departId=@departId&realname=@realname&injob=@injob" class="btn btn-default pull-left">导出到Excel</a>
                }
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered" align="center">
                    <tbody>
                        <tr>
                            <th style="text-align:center;">排名</th>
                            <th style="text-align:center;">姓名</th>
                            <th style="text-align:center;" class="hidden-xs">部门</th>
                            <th style="text-align:center;" class="hidden-xs">岗位</th>
                            <th style="text-align:center;">总得分</th>
                            <th style="text-align:center;">生成次数</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                        @if (ranklist != null && ranklist.Count > 0)
                        {
                            foreach (var item in ranklist)
                            {
                                <tr>
                                    <td align="center">@item.Rank</td>
                                    <td align="center">@item.RealName</td>
                                    <td align="center" class="hidden-xs">@item.DepartMentName</td>
                                    <td align="center" class="hidden-xs">@item.GroupName</td>
                                    <td align="center">@item.Score</td>
                                    <td align="center">@item.Count</td>
                                    <td align="center">
                                        <a href="/rank/kpi/kpilist/@item.Id?year=@year&fromMonth=@fromMonth&toMonth=@toMonth&departId=@departId" class="btn btn-warning">查看</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td align="center" colspan="6">暂无数据</td>
                            </tr>
                        }
                    </tbody>
                    @if (ranklist != null && ranklist.Count > 0)
                    {
                        <tfoot>
                            <tr>
                                <td align="center" colspan="6">共@(ranklist.Count)条数据</td>
                            </tr>
                        </tfoot>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@section Js{
    <script src="/Content/js/common/tools.js"></script>
    <script type="text/javascript">
        layui.use(['layer'], function () {
            var layer = layui.layer;

            $("#year,#fromMonth,#toMonth,#departId,#injob").change(function () {
                PostWhere();
            })

            $("#btn-submit").click(function () {
                PostWhere();
            })

            function PostWhere() {
                var year = $("#year").val();
                var toMonth = $("#toMonth").val();
                var fromMonth = $("#fromMonth").val();
                var departId = $("#departId").val();
                var realname = $("#realname").val();

                if (CheckMonth(fromMonth, toMonth)) {
                    var where = "year=" + parseInt(year);
                    if (toMonth > 0)
                        where += "&toMonth=" + parseInt(toMonth);
                    if (fromMonth > 0)
                        where += "&fromMonth=" + parseInt(fromMonth);
                    if (departId > 0)
                        where += "&departId=" + parseInt(departId);
                    if (realname != "") {
                        where += "&realname=" + realname;
                    }
                    where += "&injob=" + parseInt($("#injob").val()); 
                    window.location.href = window.location.pathname + "?" + where;
                }
            }

            function CheckMonth(fromMonth, toMonth) {
                if (parseInt(fromMonth) > parseInt(toMonth)) {
                    layer.msg('月份选择有误！', { icon: 2 });
                    return false;
                }
                return true;
            }
        })
    </script>
}
