@using FancyFix.OA.Model;
@model Kpi_Records
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pid = ViewBag.pid;
    int departId = ViewBag.departId;
    int year = ViewBag.year;
    int fromMonth = ViewBag.fromMonth;
    int toMonth = ViewBag.toMonth;
}
<div class="row">
    <div class="col-md-12">
        <table class="layui-table">
            <!--列宽度-->
            <colgroup>
                <col class="col-lg-2 col-xs-4">
                <col class="col-lg-10 col-xs-8">
            </colgroup>
            <tbody>
                <tr>
                    <td align="right"><label for="year" class="control-label">进程：</label></td>
                    <td>
                        @Model.Year 年 @Model.Month 月
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="name" class="control-label">指标：</label></td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="content" class="control-label">定义：</label></td>
                    <td>
                        @Model.Content
                    </td>
                </tr>
                @*<tr>
                    <td align="right"><label for="target_highest" class="control-label">目标：</label></td>
                    <td>
                        <p>挑战目标:  @Model.Target_Highest</p>
                        <p>标准目标:  @Model.Target_Normal</p>
                        <p>最低目标:  @Model.Target_Lowest</p>
                    </td>
                </tr>*@
                <tr>
                    <td align="right"><label for="score" class="control-label">权重：</label></td>
                    <td>
                        @Model.Score %
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="targetremark" class="control-label">评分标准：</label></td>
                    <td>
                        @Model.TargetRemark
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="parusername" class="control-label">自评分：</label></td>
                    <td>
                        @Model.SelfScore
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="parusername" class="control-label">自评备注：</label></td>
                    <td>
                        @Model.SelfRemark
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="parusername" class="control-label">评分人：</label></td>
                    <td>
                        @Model.ParUserName @(Html.Raw(Model.IsApprove.Value? "": "<span class=\"bg-red\">【未评】</span>"))
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="parscore" class="control-label">得分：</label></td>
                    <td>
                        @Model.ParScore
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="remark" class="control-label">备注：</label></td>
                    <td>
                        @Model.Remark
                    </td>
                </tr>
                <tr>
                    <td align="right"></td>
                    <td>
                        <a href="/rank/kpi/kpilist/@Model.UserId?departId=@departId&year=@year&fromMonth=@fromMonth&toMonth=@toMonth" id="cancel" class="btn btn-default">返回</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Js{
    <script src="/Content/js/common/tools.js"></script>
}