@using FancyFix.OA.Model;
@using FancyFix.Tools.Enums;
@using FancyFix.OA.Areas.Supplier.Models;
@model Supplier_List
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}

@section Css{

}

<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/supplier/suppliermanager/save" method="post" style="margin-bottom:50px;">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2">
                    <col class="col-lg-10">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="Code" class="control-label">供应商代码：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Code", (Model?.Code ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                            <div style="display:none;" class="error displayCode">供应商代码重复，请重新输入</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Name" class="control-label">供应商名称：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Name", (Model?.Name ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                            <div style="display:none;" class="error displayName">供应商名称重复，请重新输入</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="SupplierAb" class="control-label">供应商缩写：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("SupplierAb", (Model?.SupplierAb ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">供应商类型：</label></td>
                        <td>
                            <div class="form-group">
                                <select id="SupplierType" name="SupplierType" class="layui-select">
                                    @Html.Raw(Tools.GetOptionHtml(typeof(SupplierType), (byte)(Model?.SupplierType ?? 0)))
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="BusinessScope" class="control-label">经营范围/供应物料：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("BusinessScope", (Model?.BusinessScope ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Contact1" class="control-label">联系方式（1）：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Contact1", (Model?.Contact1 ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Contact2" class="control-label">联系方式（2）：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Contact2", (Model?.Contact2 ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Site" class="control-label">网址：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Site", (Model?.Site ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Address" class="control-label">地址：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Address", (Model?.Address ?? ""), new { @class = "form-control", required = "required" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="duedate" class="control-label">合作时间：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("StartDate", (Model?.StartDate.Value.ToString("yyyy-MM-dd") ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                                @*<input type="text" class="form-control" id="duedate" name="duedate" required="required" style="width:250px;"
                                    value="@(Model != null ? Model.StartDate.Value.ToString("yyyy-MM-dd") : "")">*@
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">供应商标签：</label></td>
                        <td>
                            <div class="form-group">
                                <select id="LabelId" name="LabelId" class="layui-select">
                                    @Html.Raw(Tools.GetOptionHtml(typeof(SupplierLabel), (byte)(Model?.LabelId ?? 0)))
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="AccountDate" class="control-label">账期：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("AccountDate", (Model?.AccountDate ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="AccountDate" class="control-label">备注：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextArea("Note", (Model?.Note ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            @Html.Hidden("Id", (Model?.Id ?? 0))
                            <button type="submit" id="btnPass" class="btn btn-primary">保存</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'laydate'], function () {
            var layer = layui.layer;
            var laydate = layui.laydate;

            //日期控件
            $("#StartDate").click(function () {
                laydate({
                    elem: this,
                    type: 'date',
                    //min: laydate.now(),
                    //format: 'YYYY-MM-DD hh:mm:ss',
                    format: 'YYYY-MM-DD',
                });
            });

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $("#demandtypeid").attr("disabled", false);
                $("#detailtypeid").attr("disabled", false);
                $form.valid();
            });
        })

        fun = {
            init: function () {
                fun.supplierIsRepeat("Code");
                fun.supplierIsRepeat("Name");
            },
            supplierIsRepeat: function (file) {
                $("#" + file).blur(function () {
                    if ($(this).val() == "") return;
                    var req = file + "=" + $(this).val()
                    $.get("/supplier/suppliermanager/supplierisrepeat?" + req, function (data) {
                        //字段是否重复
                        if (data == "true")
                            $(".display" + file).show();
                        else
                            $(".display" + file).hide();
                    })
                });
            }
        };
        //fun.init();
    </script>
}
