@using FancyFix.OA.Model;
@using FancyFix.Tools.Enums;
@using FancyFix.OA.Areas.Supplier.Models;
@model Supplier_RawMaterialPrice
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout_In.cshtml";

    List<Supplier_Price> prices2 = ViewBag.prices2 ?? new List<Supplier_Price>();
}

<script>
    function RetrunMonth(month) {
        var result = "";
        switch (month) {
            case 1:
                result = "一";
                break;
            case 2:
                result = "二";
                break;
            case 3:
                result = "三";
                break;
            case 4:
                result = "四";
                break;
            case 5:
                result = "五";
                break;
            case 6:
                result = "六";
                break;
            case 7:
                result = "七";
                break;
            case 8:
                result = "八";
                break;
            case 9:
                result = "九";
                break;
            case 10:
                result = "十";
                break;
            case 11:
                result = "十一";
                break;
            case 12:
                result = "十二";
                break;
                console.log(result)
        }
        return result;
    }
</script>

<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/supplier/rawmaterialprice/save" method="post" style="margin-bottom:50px;">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2">
                    <col class="col-lg-10">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="SAPCode" class="control-label">原材料代码：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("SAPCode", (Model?.SAPCode ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Description" class="control-label">采购产品名称：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Description", (Model?.Description ?? ""), new { @class = "form-control", @readonly = "readonly", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><label for="Code" class="control-label">供应商代码：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Code", (Model?.Code ?? ""), new { @class = "form-control", required = "required", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Name" class="control-label">供应商名称：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Name", (Model?.Name ?? ""), new { @class = "form-control", required = "required", @readonly = "readonly", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">价格频次：</label></td>
                        <td>
                            <div class="form-group">
                                <select id="PriceFrequency" name="PriceFrequency" class="layui-select">
                                    @Html.Raw(Tools.GetOptionHtml(typeof(PriceFrequency), (byte)(Model?.PriceFrequency ?? 0)))
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="Currency" class="control-label">价格单位：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("Currency", (Model?.Currency ?? ""), new { @class = "form-control", required = "required", @readonly = "readonly", style = "width:250px;" })
                            </div>
                        </td>
                    </tr>
                    <tr id="updateYearTr" style="@(ViewBag.SelectList==null?"display:none;":"")">
                        <td align="right"><label class="control-label">价格年份：</label></td>
                        <td>
                            <div class="form-group">
                                <select class="layui-select" id="updateYears" name="updateYears" style="width:150px">
                                    @Html.Raw(ViewBag.SelectList);
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn" id="btnAddYear" type="button">新增年份</button>
                            </div>
                        </td>
                    </tr>
                    <tr id="addYearTr" style="@(ViewBag.SelectList!=null?"display:none;":"")">
                        <td align="right"><label class="control-label">新增价格年份：</label></td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("addYears", null, new { @class = "form-control layui-input-inline", placeholder = "请输入年份", required = "required", style = "width:150px;" })
                                <button class="btn" id="btnUpdateYear" style="@(ViewBag.SelectList==null?"display:none;":"")" type="button">取消</button>
                            </div>
                        </td>
                    </tr>
                    @for (int i = 1; i < 13; i++)
                    {
                        <tr>
                            <td align="right">
                                <label for="Month1" class="control-label">
                                    <script>document.write(RetrunMonth(@i))</script>月
                                </label>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.TextBox("Month" + i, (prices2?.Find(o => o.Month == i)?.Price ?? 0), new { @class = "form-control", type = "number", required = "required", style = "width:250px;" })
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right"></td>
                        <td>
                            @Html.Hidden("Id", (Model?.Id ?? 0))
                            @Html.Hidden("Action", ViewBag.SelectList != null ? "update" : "add")
                            @Html.Hidden("Years", "0")
                            <button type="submit" id="btnPass" class="btn btn-primary">保存</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Js
{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'laydate'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;

            var fun = {
                init: function () {
                    //绑定年份下拉框事件
                    $("#updateYears").bind("change", function () {
                        var where = "";
                        where += "Id=" + $("#Id").val();
                        location.href = window.location.pathname + "?Id=" + $("#Id").val() + "&year=" + $("#updateYears").val()
                    });
                    //绑定新增年份按钮事件
                    $("#btnAddYear").bind("click", function () {
                        $("#updateYearTr").hide()
                        $("#addYearTr").show()
                        $("#Action").val("add");
                    })
                    //绑定修改年份按钮事件
                    $("#btnUpdateYear").bind("click", function () {
                        $("#addYearTr").hide()
                        $("#updateYearTr").show()
                        $("#Action").val("update");
                    })
                    //失去焦点是触发
                    $("#SAPCode").blur(function () {
                        fun.SAPCodeAjax("sapcode", $(this).val());
                    })
                    //失去焦点是触发
                    $("#Code").blur(function () {
                        fun.SAPCodeAjax("code", $(this).val());
                    })
                },
                SAPCodeAjax: function (fields, val) {
                    $.get("/supplier/rawmaterialprice/getinfobyfields", { fields: fields, value: val }, function (data) {
                        if (data.Result == "0") {
                            ShowError("您输入的" + fields == "sapcode" ? "原材料" : "供应商" + "代码不存在，请重新输入");
                            return;
                        }
                        if (fields == "sapcode") {
                            $("#Description").val(data.Name);
                            $("#Currency").val(data.currency);
                        }
                        else if (fields == "code") {
                            $("#Name").val(data.Name);
                        }

                    })
                }
            }

            $(function () {
                fun.init();
            })

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $("#demandtypeid").attr("disabled", false);
                $("#detailtypeid").attr("disabled", false);

                var year = ($("#Action").val() == "add") ? $("#addYears").val() : $("#updateYears").val();
                $("#Years").val(year)
                $form.valid();
            });
        })

    </script>
}
