@using FancyFix.OA.Model
@model Product_Attribute
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
    bool hasSpecail = ViewBag.hasSpecail;
}
@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/product/attribute/save" method="post">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-1">
                    <col class="col-lg-11">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="attributeName" class="control-label">属性名称：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="attributeName" name="attributeName" placeholder="属性名称" value="@(Model!=null?Model.AttributeName:"")" style="width:100%;" required="required" autocomplete="off">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="inputtype" class="control-label">输入框类型：</label></td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="inputtype" name="inputtype" required="required">@Html.Raw(ViewBag.inputTypeSelect)</select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="fieldtype" class="control-label">数据类型：</label></td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="fieldtype" name="fieldtype" required="required">@Html.Raw(ViewBag.fieldTypeSelect)</select>
                            </div>
                        </td>
                    </tr>
                    @if ((Model!=null && Model.IsSpecial.HasValue && Model.IsSpecial.Value) || !hasSpecail)
                    {
                        <tr>
                            <td align="right"><label for="isspecial" class="control-label">主要属性：</label></td>
                            <td>
                                <div class="form-group">
                                    <input type="checkbox" class="form-control" id="isspecial" name="isspecial" checked="checked" value="true">
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right"><label for="isneeded" class="control-label">必填：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" id="isneeded" name="isneeded" @(Model != null ? (Model.IsRequired.HasValue && Model.IsRequired.Value ? "checked='checked'" : "") : "") value="true">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="remark" class="control-label">备注：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注" value="@(Model!=null?Model.Remark.ToString2():"")" style="width:100%;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <input type="hidden" id="classid" name="classid" value="@ViewBag.classId">
                            <input type="hidden" id="id" name="id" value="@(Model?.Id ?? 0)">
                            <button type="submit" id="submit" class="btn btn-primary">提交</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer;

            //iCheck初始化
            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
            });

            //表单验证
            $("#mainform").validate();
        })
    </script>
}