@using FancyFix.OA.Model;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Mng_PermissionGroup> list = ViewBag.list;
    Mng_PermissionGroup mod = ViewBag.model;
    int id = ViewBag.id;
    int departid = ViewBag.departid;
}
@section Css{
    <style>
        .table th {
            text-align: center;
            vertical-align: middle !important;
        }

        .cname {
            color: #367fa9;
            font-weight: bold;
        }

        a:hover {
            color: #f56954;
        }
    </style>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">【@FancyFix.OA.Bll.BllMng_DepartmentClass.Instance().GetClassName(departid)】岗位设置</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="@(Request.UrlReferrer.ToString().Contains("/system/departmentclass/list") ? "/system/departmentclass/list":"/system/permission/getdepartlist")">《 返回选择部门</a>
            </li>
        </ol>
        <div class="box">
            @if (id > 0)
            {
                <div class="box-body">
                    <form class="layui-form" method="post" action="/system/permission/update">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="text" name="GroupName" placeholder="岗位名" lay-verify="required" required="required" class="form-control pull-left" value="@(mod!=null?mod.GroupName:"")">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Title" placeholder="说明" class="form-control pull-left" size="50" value="@(mod!=null?mod.Title:"")">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="isadmin" value="true" title="管理员" @(mod.IsAdmin.Value ? "checked=checked" : "")>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="id" value="@id">
                                <input type="hidden" name="departid" value="@departid">
                                <button type="submit" class="btn btn-sm btn-primary btn-flat pull-left" lay-submit lay-filter="formUpdate">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover no-margin">
                        <thead>
                            <tr>
                                <th>组名</th>
                                <th>说明</th>
                                <th>排序</th>
                                <th>管理员</th>
                                <th>锁定</th>
                                <th>权限设置</th>
                                <th>修改</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (list != null && list.Count > 0)
                            {
                                foreach (var item in list)
                                {
                                    <tr>
                                        <td align="center"><a class="cname" href="javascript:;">@item.GroupName</a></td>
                                        <td align="center">@item.Title</td>
                                        <td align="center">
                                            @Html.Raw(item.actStr)
                                        </td>
                                        <td align="center">
                                            @if ((bool)item.IsAdmin)
                                            {
                                                <a href="javascript:void(0)" class="btn btn-success btn-circle btn-lg btn-xs" type="button">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0)" class="btn btn-danger btn-circle btn-lg btn-xs" type="button">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            }
                                        </td>
                                        <td align="center">
                                            @if ((bool)item.BeLock)
                                            {
                                                <a href="/system/permission/setbelock?id=@item.Id&departid=@departid" class="btn btn-success btn-circle btn-lg btn-xs" type="button">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/system/permission/setbelock?id=@item.Id&departid=@departid" class="btn btn-danger btn-circle btn-lg btn-xs" type="button">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            }
                                        </td>
                                        <td align="center">
                                            <a href="javascript:void(0)" data-id="@item.Id" class="btn btn-warning btn-circle btn-lg btn-xs btnPermession" type="button">
                                                <i class="fa fa-unlock-alt"></i>
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a class="btn btn-primary btn-md" href="/system/permission/list?id=@item.Id&departid=@departid">编辑</a>
                                            <a class="btn btn-danger btn-md" href="/system/permission/delete?id=@item.Id&departid=@departid">删除</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td height=25 colspan="6">暂且没有信息...</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-body">
                <form class="layui-form" method="post" action="/system/permission/add">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" name="GroupName" placeholder="岗位名" lay-verify="required" required="required" class="form-control pull-left">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Title" placeholder="说明" class="form-control pull-left" size="50">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="layui-bg-blue" name="isadmin" value="true" title="管理员">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="departid" value="@departid">
                            <button type="submit" class="btn btn-sm btn-primary btn-flat pull-left" lay-submit lay-filter="formAdd">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Js{
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(formAdd),submit(formUpdate)', function (data) {
                return false;
            });

            $(".btnPermession").click(function () {
                OpenWin("权限设置", "/system/permission/groupsettree?id=" + $(this).data("id"), '600px', '100%');
            })
        });
    </script>
}


