@using FancyFix.OA.Model;
@model Product_Pattern
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}
@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/product/pattern/save" method="post">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2">
                    <col class="col-lg-10">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="title" class="control-label">图案名称：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="patternname" name="patternname" placeholder="图案名称" value="@(Model?.PatternName ?? "")" style="width:200px;" required="required" maxlength="50">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="title" class="control-label">图案编码：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="patterncode" name="patterncode" placeholder="图案编码" value="@(Model?.PatternCode ?? "")" style="width:200px;" required="required" maxlength="50">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">图案图片：</label></td>
                        <td>
                            @Html.Partial("UploadImg", new FancyFix.OA.Config.ImgUploadConfig { Pics = Model?.Pics ?? "", Uptype = "web", FileExt = "gif,png,jpg,jpeg", UploadNum = 10, MaxSize = 10 * 1024 * 1024, WidthHeight = "正方形", Domain = "files" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">是否显示：</label></td>
                        <td>
                            <input type="checkbox" class="form-control" name="isshow" @(Model?.IsShow ?? true ? "checked" : "") value="true">
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <input type="hidden" id="id" name="id" value="@(Model?.Id ?? 0)">
                            <button type="submit" id="btnPass" class="btn btn-primary">保存</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script src="/Content/js/common/skuatter.js"></script>
    <script type="text/javascript">
        layui.use(['layer'], function () {
            var layer = layui.layer;

            //iCheck初始化
            $('input[type="checkbox"],input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $form.valid();
            });
        })
    </script>
}