@using FancyFix.OA.Model;
@model Valuable_List
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int rankScore = 0;
    Valuable_Records record = ViewBag.record;
    IEnumerable<Rank_Class> rankclass = ViewBag.rankclass;
    IList<Valuable_Sample> samplelist = ViewBag.samplelist;
    rankScore = record != null ? record.RankScore.Value : (rankclass.First()?.Score.Value ?? 0); //自评分
    bool isApproved = record?.IsApprove ?? false;//是否已审批
}
@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/valuable/valuable/save" method="post">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2 col-xs-3">
                    <col class="col-lg-10 col-xs-9">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="classid" class="control-label">价值观：</label></td>
                        <td>
                            <div class="form-group form-inline">
                                @Model.ClassName
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="title" class="control-label">内容：</label></td>
                        <td>
                            <div class="form-group">
                                @Model.Content
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="title" class="control-label">权重：</label></td>
                        <td>
                            <div class="form-group">
                                @Model.Score
                            </div>
                        </td>
                    </tr>
                    @if (isApproved)
                    {
                        <tr>
                            <td align="right"><label for="title" class="control-label">自评分：</label></td>
                            <td>
                                <div class="form-group">
                                    @FancyFix.OA.Bll.BllRank_Class.Instance().GetClassName(record.Rank.Value) (@record.RankScore 分)
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td align="right"><label class="control-label">评分：</label></td>
                            <td id="rank">
                                @if (rankclass != null && rankclass.Any())
                                {
                                    foreach (var item in rankclass)
                                    {
                                        <div class="form-group">
                                            <input type="radio" class="form-control" name="rank" @(item.Score == rankScore ? "checked=checked" : "") data-sample="@item.SampleNum" value="@item.Id" />@(item.ClassName + "(" + item.Score + "分)")
                                        </div>
                                    }
                                    <p class="layui-word-aux text-red">(注意：如果切换评分，可能会清空已填内容，请先复制到其他地方保存)</p>
                                }
                            </td>
                        </tr>
                        if (Model.Id > 0)
                        {
                            <tr>
                                <td align="right"><label for="title" class="control-label">历史案例：</label></td>
                                <td>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-default" id="openhistory">
                                            点击查看
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td align="right"><label for="title" class="control-label">案例：</label></td>
                        <td>
                            <div class="form-group" id="samples">
                                @if (samplelist != null && samplelist.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in samplelist)
                                    {
                                        int minSampleNum = rankclass?.First(o => o.Score == rankScore)?.SampleNum ?? 0;
                                        <div>
                                            <label>案例@(i) @Html.Raw(i > minSampleNum ? " <button class=\"btn btn-xs btn-danger\">删除</button>" : "")</label>
                                            @if (record != null && record.IsApprove.Value)
                                            {
                                                <div>
                                                    @item.Content
                                                </div>
                                            }
                                            else
                                            {
                                                <textarea class="form-control" name="sample@(i)" rows="4" style="width:100%" required="required">@item.Content</textarea>
                                                <input type="hidden" name="sampleId" value="@i">
                                            }
                                        </div>
                                        i++;
                                    }
                                }
                                else
                                {
                                    if (isApproved)
                                    {
                                        <span>无</span>
                                    }
                                }
                            </div>
                            @if (!isApproved)
                            {
                                <div class="form-group" style="margin-top:10px;">
                                    <button type="button" class="btn btn-default" id="addMore">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        添加更多
                                    </button>
                                </div>
                            }
                        </td>
                    </tr>
                    @if (isApproved)
                    {
                        <tr>
                            <td align="right"><label for="title" class="control-label">上级评分：</label></td>
                            <td>
                                <div class="form-group">
                                    @record.Score 分
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><label for="title" class="control-label">评分人：</label></td>
                            <td>
                                <div class="form-group">
                                    @record.ParUserName
                                </div>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right"></td>
                        <td>
                            <input type="hidden" id="id" name="id" value="@Model.Id">
                            <input type="hidden" id="rid" name="rid" value="@(record?.Id ?? 0)">
                            <input type="hidden" id="year" name="year" value="@ViewBag.currentYear">
                            <input type="hidden" id="month" name="month" value="@ViewBag.currentMonth">
                            <input type="hidden" id="temp" value="">
                            @if (isApproved)
                            {
                                <button type="button" class="btn btn-default bg-green">已评审</button>
                            }
                            else
                            {
                                <button type="submit" id="btnPass" class="btn btn-primary">提交</button>
                            }
                            <button type="button" id="cancel" class="btn btn-default" onclick="javascript: window.location.href='/valuable/valuable/valuelist?year=@ViewBag.currentYear&month=@ViewBag.currentMonth'">返回</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer;

            //iCheck初始化
            $('input[type="checkbox"],input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $form.valid();
            });
            $("#openhistory").click(function () {
                OpenWin("历史案例", "/valuable/valuable/historysamples/@Model.Id", '600px', '90%');
            })

            var minSampleNum = '@(rankclass?.First(o=>o.Score == rankScore)?.SampleNum ?? 0)';

            //选中事件
            $("#rank input:radio").on('ifChecked', function (event) {
                if ($(this).is(":checked")) {
                    Check($(this));
                }
            });

            //增加更多
            $("#addMore").click(function () {
                var maxId = parseInt($("input[name=sampleId]").last().val() || 0) + 1;
                var html = RenderHtml(maxId);
                $("#samples").html(html);
            });

            $("#samples").on("click", ".btn-danger", function () {
                $(this).parents("div").eq(0).remove();
            })

            //事件监听
            $("#samples").on("keyup", "textarea", function () {
                SaveSample();
            }).on("focusout", "textarea", function () {
                SaveSample();
            })

            ///缓存案例
            function SaveSample() {
                var samples = $("#samples input[name=sampleId]");
                if (samples.size() > 0) {
                    var obj = new Array();
                    $.each(samples, function (i, v) {
                        var $input = $(this);
                        var value = $input.prev().val();
                        if (value && value != '')
                            obj.push(value);
                    })
                    if (obj && obj.length > 0) {
                        $("#temp").val(JSON.stringify(obj));
                    }
                }
            }

            //第一次进来，设置默认案例个数，有记录则保存
            var rid = $("#rid").val();
            if (rid == 0)
                Check();
            else
                SaveSample();

            //选中事件
            function Check($this) {
                var $checked = $this || $("#rank input[type='radio']:checked");
                var sampleNum = $checked.data("sample");
                if (sampleNum && sampleNum > 0) {
                    minSampleNum = sampleNum;
                    var html = RenderHtml(sampleNum);
                    $("#samples").html(html);
                } else {
                    $("#samples").html("");
                }
            }

            //读取案例缓存，重载案例HTML
            function RenderHtml(sampleNum) {
                //拿到缓存案例内容
                var temp = $("#temp").val();
                var tempData;
                if (temp != "") tempData = JSON.parse(temp);
                var html = "";
                for (var i = 0; i < sampleNum; i++) {
                    var val = "";
                    //有出现案例框，则填入缓存内容
                    if (tempData && tempData.length > i) {
                        val = tempData[i];
                    }
                    html += "<div><label>案例" + (i + 1) + ((i + 1) > minSampleNum ? " <button class=\"btn btn-xs btn-danger\">删除</button>" : "") + "</label>";
                    html += "<textarea class=\"form-control\" name=\"sample" + (i + 1) + "\" rows=\"4\" style=\"width: 100%\" required=\"required\">" + val + "</textarea>";
                    html += " <input type=\"hidden\" name=\"sampleId\" value=" + (i + 1) + "></div>";
                }
                return html;
            }
        })
    </script>
}