@using FancyFix.OA.Model
@model Mng_User
@{
    ViewBag.Title = "ChildKpiList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Kpi_Records> recordlist = ViewBag.recordlist;
    int startyear = ViewBag.StartYear;
    int year = ViewBag.year;
    int month = ViewBag.month;
    Kpi_Process process = ViewBag.process;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">【@Model.RealName】 @year 年 @month 月 指标 @(!process.IsCreated.Value ? "(进程未生成)" : "") </h3>
            <a href="/kpi/kpi/childuserlist?year=@year&month=@month" class="btn btn-default pull-right">返回</a>
        </div>
        <div class="box">
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="text-align:center;">指标</th>
                            <th style="text-align:center;" class="hidden-xs">定义</th>
                            <th style="text-align:center;">权重</th>
                            <th style="text-align:center;">自评分</th>
                            <th style="text-align:center;">得分</th>
                            <th style="text-align:center;">状态</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                        @if (recordlist != null && recordlist.Count > 0)
                        {
                            foreach (var item in recordlist)
                            {
                                <tr>
                                    <td align="center">@item.Name</td>
                                    <td class="hidden-xs">@CutString(item.Content, 100)</td>
                                    <td align="center">@item.Score %</td>
                                    <td align="center"><span class="badge bg-yellow">@item.SelfScore</span></td>
                                    <td align="center"><span class="badge bg-green">@item.ParScore</span></td>
                                    <td align="center">
                                        @if (item.IsApprove.Value)
                                        {
                                            <span class="badge bg-green">已评分</span>
                                        }
                                        else
                                        {
                                            <span class="badge">未评分</span>
                                        }
                                    </td>
                                    <td align="center">
                                        @if (!item.IsCreated.Value)
                                        {
                                            <span>指标未生成，暂时不能评分</span>
                                        }
                                        else if (item.ParUserId == MyInfo.Id)
                                        {
                                            if ((item.IsSelfApprove ?? false) == false)
                                            {
                                                <span>下级未自评，暂时不能评分</span>
                                            }
                                            else
                                            {
                                                <a href="/kpi/kpi/childkpiapprove/@item.Id" class="btn btn-warning">评分</a>
                                                <input type="hidden" name="rid" value="@item.Id">
                                            }
                                        }
                                        else if (item.ParUserId != MyInfo.Id)
                                        {
                                            <span>该项由 @item.ParUserName 评分</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td align="center" colspan="7">暂无数据</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td align="center">总得分</td>
                            <td align="center" class="hidden-xs"></td>
                            <td align="center"></td>
                            <td align="center"></td>
                            <td align="center">@(recordlist.Sum(o => o.FinishScore) ?? 0)</td>
                            <td align="center"></td>
                            <td align="center"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Js{
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer;
        })
    </script>
}





