@using FancyFix.OA.Model;
@model Kpi_Records
@{
    ViewBag.Title = "ChildKpiApprove";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userinfo = FancyFix.OA.Bll.BllMng_User.First(o => o.Id == Model.UserId);
}

@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
    <link href="/Content/js/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/kpi/kpi/childkpisave" method="post">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2 col-xs-3">
                    <col class="col-lg-10 col-xs-9">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="year" class="control-label">员工：</label></td>
                        <td>
                            @Model.UserName
                        </td>
                    </tr>
                    @if (userinfo != null && !string.IsNullOrEmpty(userinfo.Pic))
                    {
                        <tr>
                            <td align="right"><label for="year" class="control-label">头像：</label></td>
                            <td>
                                <img src="@userinfo.Pic" alt="@Model.UserName" width="80" height="80" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="right"><label for="year" class="control-label">进程：</label></td>
                        <td>
                            @Model.Year 年 @Model.Month 月
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="name" class="control-label">指标：</label></td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="content" class="control-label">定义：</label></td>
                        <td>
                            @Model.Content
                        </td>
                    </tr>
                    @*<tr>
                        <td align="right"><label for="target_highest" class="control-label">目标：</label></td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(Model.Target_Highest))
                            {
                                <p>挑战目标:  @Model.Target_Highest</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Target_Normal))
                            {
                                <p>标准目标:  @Model.Target_Normal</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Target_Lowest))
                            {
                                <p>最低目标:  @Model.Target_Lowest</p>
                            }
                        </td>
                    </tr>*@
                    <tr>
                        <td align="right"><label for="score" class="control-label">权重：</label></td>
                        <td>
                            @Model.Score %
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="scoreremark" class="control-label">标准：</label></td>
                        <td>
                            @Model.TargetRemark
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="scoreremark" class="control-label">得分：</label></td>
                        <td>
                            <div class="form-group form-inline">
                                <input type="text" class="form-control" id="parscore" name="parscore" value="@Model.ParScore" required="required" maxlength="50" style="width:60px;" integer="true" max="120" min="0">
                                <span class="layui-word-aux"> （可打0-120分）</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="scoreremark" class="control-label">备注：</label></td>
                        <td>
                            <textarea class="form-control" id="remark" name="remark" maxlength="2000">@Model.Remark</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <input type="hidden" id="id" name="id" value="@Model.Id">
                            <button type="submit" id="btnPass" class="btn btn-primary">提交</button>
                            <a href="/kpi/kpi/childkpilist/@Model.UserId?year=@Model.Year&month=@Model.Month" id="cancel" class="btn btn-default">返回</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer;

            //iCheck初始化
            $('input[type="checkbox"],input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $form.valid();
            });
        })
    </script>
}

