@using FancyFix.OA.Model
@model Kpi_Process
@{
    ViewBag.Title = "KpiSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Kpi_Records> recordlist = ViewBag.recordlist;
    int startyear = ViewBag.StartYear;
    int year = ViewBag.year;
    int month = ViewBag.month;
}
@section Css{
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">选择进程：</h3>
            <select id="year" name="year" class="layui-select" style="max-width:100px;">
                @for (int i = startyear; i <= DateTime.Now.Year + 1; i++)
                {
                    <option value="@i" @(i == year ? "selected" : "")>@i 年</option>
                }
            </select>
            <select id="month" name="month" class="layui-select" style="max-width:80px;">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i" @(month == i ? "selected" : "")>@i 月</option>
                }
            </select>
        </div>
        <div class="box-body">
            <a href="/kpi/kpi/kpiadd?year=@year&month=@month&pid=@Model.Id" id="addnew" class="btn btn-default pull-left">新建指标</a>
            <a href="/kpi/kpi/index" class="btn btn-default pull-right">返回</a>
        </div>
        <div class="box">
            <div class="box-body">
                <form id="createform" method="post" action="/kpi/kpi/processcreate/@Model.Id">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="text-align:center;">指标</th>
                                <th style="text-align:center;" class="hidden-xs">定义</th>
                                @*<th style="text-align:center;" class="hidden-xs">目标值</th>*@
                                <th style="text-align:center;">权重</th>
                                <th style="text-align:center;">评分人</th>
                                <th style="text-align:center;">状态</th>
                                <th style="text-align:center;">操作</th>
                            </tr>
                            @if (recordlist != null && recordlist.Count > 0)
                            {
                                foreach (var item in recordlist)
                                {
                                    <tr>
                                        <td align="center">@item.Name</td>
                                        <td class="hidden-xs">@CutString(item.Content, 100)</td>
                                        @*<td class="hidden-xs" align="center">
                                                @if (!string.IsNullOrWhiteSpace(item.Target_Highest))
                                                {
                                                    <p>挑战目标：@item.Target_Highest</p>
                                                }
                                                @if (!string.IsNullOrWhiteSpace(item.Target_Normal))
                                                {
                                                    <p>标准目标：@item.Target_Normal</p>
                                                }
                                                @if (!string.IsNullOrWhiteSpace(item.Target_Lowest))
                                                {
                                                    <p>最低目标：@item.Target_Lowest</p>
                                                }
                                            </td>*@
                                        <td align="center"><span class="badge bg-green">@item.Score %</span></td>
                                        <td align="center">@item.ParUserName</td>
                                        <td align="center">
                                            @if (item.IsApprove.Value)
                                            {
                                                <span class="badge bg-green">已评分</span>
                                            }
                                            else
                                            {
                                                <span class="badge">未评分</span>
                                            }
                                        </td>
                                        <td align="center">
                                            @if (item.IsApprove.Value || (Model.IsCreated ?? false))
                                            {
                                                <a href="/kpi/kpi/kpiinfo/@item.Id" class="btn btn-warning">查看</a>
                                            }
                                            else
                                            {
                                                <a href="/kpi/kpi/kpiadd/@item.Id" class="btn btn-warning">修改</a>
                                                <a href="javascript:void(0)" data-id="@item.Id" class="btn btn-warning btndelete">删除</a>
                                            }
                                            <input type="hidden" name="rid" value="@item.Id">
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td align="center" colspan="7">暂无数据</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="pull-left">
                                        @Html.Raw((Model.IsCreated ?? false) ? "<span class=\"badge bg-green\">该进程已生成</span>" : "<span class=\"badge bg-red\">该进程未生成</span>")
                                    </div>
                                    @if (!(Model.IsCreated ?? false))
                                    {
                                        <div class="pull-right">
                                            <button type="button" id="btnPass" class="btn btn-primary">生成进程</button>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
@section Js{
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer'], function () {
            var layer = layui.layer;

            $("#year").change(function () {
                var year = $(this).val();
                var month = $("#month").val();
                PostWhere(year, month);
            })

            $("#month").change(function () {
                var month = $(this).val();
                var year = $("#year").val();
                PostWhere(year, month);
            })

            function PostWhere(year, month) {
                var where = "year=" + parseInt(year);
                if (month > 0)
                    where += "&month=" + parseInt(month);
                window.location.href = window.location.pathname + "?" + where;
            }

            $("#btnPass").click(function () {
                layer.confirm('生成成功后，指标项将不能再修改，确定生成吗？', {
                    btn: ['生成', '取消']
                }, function () {
                    $("#createform").submit();
                });
            })

            $(".btndelete").click(function () {
                var id = $(this).data("id");
                layer.confirm('确认删除吗？', {
                    btn: ['删除', '取消']
                }, function () {
                    $.post('/kpi/kpi/kpidelete/' + id, function (data) {
                        if (data) {
                            if (data.result > 0) {
                                layer.msg(data.msg, { icon: 1 });
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000)
                            } else {
                                layer.msg(data.msg, { icon: 2 });
                            }
                        }
                    })
                });
            })
        })
    </script>
}

