@using FancyFix.OA.Model;
@model Design_ArtTaskList
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout_In.cshtml";

    List<Design_DemandType> demandtypelist = ViewBag.DemandTypeList;
    List<Design_DetailType> detailtypelist = ViewBag.DetailTypeList;
}

@section Css{
    <link href="/Content/js/plugins/iCheck/flat/_all.css" rel="stylesheet" />
    <style>
        .form-group {
            margin-bottom: 0;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <form id="mainform" action="/arttask/arttasklist/insert" method="post">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2">
                    <col class="col-lg-10">
                </colgroup>
                <tbody>
                    @*<tr>
                        <td align="right"><label for="number" class="control-label">编号：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="number" name="number" placeholder="编号" value="@(Model?.Number ?? "")"
                                       required="required" style="width:250px;">
                            </div>
                        </td>
                    </tr>*@
                    <tr>
                        <td align="right"><label for="title" class="control-label">标题：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="title" name="title" placeholder="标题" value="@(Model?.Title ?? "")"
                                       required="required" style="width:250px;" maxlength="255">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="budget" class="control-label">项目预算：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control" id="budget" name="budget" placeholder="项目预算" value="@(Model?.Budget ?? 0)"
                                       required="required" style="width:250px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="demandtypeid" class="control-label">需求类型：</label></td>
                        <td>
                            <div class="form-group">
                                <select id="demandtypeid" name="demandtypeid" class="layui-select" style="max-width:250px;">
                                    @if (demandtypelist != null && demandtypelist.Count > 0)
                                    {
                                        <option value="0">请选择</option>
                                        foreach (var item in demandtypelist)
                                        {
                                            <option value="@item.ClassId">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="model" class="control-label">产品型号：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="model" placeholder="型号" name="model" value="@(Model?.Model ?? "")" style="width:250px;" maxlength="120">
                            </div>
                        </td>
                    </tr>
                    @*<tr>
                        <td align="right"><label for="styletype" class="control-label">风格要求：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="styletype" placeholder="风格要求" name="styletype" value="@(Model?.StyleType ?? "")"
                                       required="required" style="width:250px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="title" class="control-label">细节类型：</label></td>
                        <td>
                            <select id="detailtypeid" name="detailtypeid" class="layui-select" style="max-width:250px;">
                                @if (detailtypelist != null && detailtypelist.Count > 0)
                                {
                                    <option value="0">请选择</option>
                                    foreach (var item in detailtypelist)
                                    {
                                        <option value="@item.ClassId">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>*@
                    <tr>
                        <td align="right"><label for="content" class="control-label">参考资源：</label></td>
                        <td>
                            <div class="form-group">
                                <span class="layui-word-aux">范本、网站、文案、目录、LOGO、图片，网页链接等。如果资料过多，可在下方上传附件</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="content" class="control-label">具体描述：</label></td>
                        <td>
                            <div class="form-group">
                                <textarea class="form-control" id="content" name="content" type="text/plain" style="height:80px;"
                                          required="required" maxlength="5000">@(Model?.Content ?? "")</textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="duedate" class="control-label">需求日期：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="duedate" name="duedate" placeholder="需求日期" required="required" style="width:250px;" readonly="readonly" value="@(Model != null ? Model.DueDate.Value.ToString("yyyy-MM-dd") : "")">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="phone" class="control-label">联系方式：</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="手机号" value="@(Model?.Phone ?? "")" style="width:250px;" maxlength="15">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label class="control-label">上传附件：</label></td>
                        <td>
                            @Html.Partial("UploadFile", new FancyFix.OA.Config.FileUploadConfig { Files = Model?.Uri1 ?? "",  FileExt = "xlsx,xls,doc,docx,pdf,zip,rar", UploadNum = 1, MaxSize = 20 * 1024 * 1024,  Domain = "local" })
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            <input type="hidden" id="id" name="id" value="@(Model?.Id ?? 0)">
                            <button type="submit" id="btnPass" class="btn btn-primary">保存</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'laydate'], function () {
            var layer = layui.layer;
            var laydate = layui.laydate;
            //iCheck初始化
            $('input[type="checkbox"],input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //日期控件
            $("#duedate").click(function () {
                laydate({
                    elem: this,
                    istime: true,
                    min: laydate.now(),
                    format: 'YYYY-MM-DD hh:mm:ss'
                });
            });

            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $form.valid();
            });
        })
    </script>
}
