
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Css{
    <link href="/Content/js/plugins/datatables/bootstrap-table.min.css" rel="stylesheet" />
    <style>
        .table-bordered > tbody > tr > td {
            line-height: 2.628571;
        }
    </style>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box-header">
            <h3 class="box-title">设计部需求列表</h3>
        </div>
        <div class="box">
            <div class="box-body">
                <section class="panel">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-inline">
                            <label class="layui-form-label">需求状态</label>
                            <div class="layui-input-inline">
                                <select id="displayid" name="displayid">
                                    <option value="0">全部</option>
                                    <option value="1">未分配</option>
                                    <option value="2">已分配</option>
                                    <option value="3">已完成</option>
                                    @*<option value="4">已取消</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline pull-right">
                            <button id="btnSearch" class="btn bg-orange" lay-submit lay-filter="formSearch">查询</button>
                        </div>
                    </div>
                </section>
                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增需求
                    </button>
                    <button id="btn_calendar" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 查看需求排期
                    </button>
                    @*<button  onclick=preview(2) type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 打印
                        </button>*@
                </div>
                <table id="table" class="table table-bordered table-hover"></table>
            </div>
        </div>
    </div>
</div>

@section Js{
    <script src="/Content/js/plugins/datatables/bootstrap-table.min.js"></script>
    <script src="/Content/js/plugins/datatables/bootstrap-table-zh-CN.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form();

            var TableInit = function () {
                var objTable = new Object();
                //初始化Table
                objTable.Init = function () {
                    $table.bootstrapTable({
                        url: '/ArtTask/ArtTaskList/PageList',
                        method: 'get',
                        toolbar: '#toolbar',                //工具按钮用哪个容器
                        idField: "Id",                      //指定主键列
                        uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                        height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        //striped: true,                      //是否显示行间隔色
                        minimumCountColumns: 2,             //最少允许的列数
                        clickToSelect: true,                //是否启用点击选中行
                        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pagination: true,                   //是否显示分页（*）
                        paginationLoop: false,              //启用分页条无限循环的功能
                        paginationPreText: "上一页",
                        paginationNextText: "下一页",
                        pageNumber: 1,                      //初始化加载第一页，默认第一页
                        pageSize: 10,                       //每页的记录行数（*）
                        pageList: [10, 50, 100],            //可供选择的每页的行数（*）
                        sortable: true,                     //是否启用排序
                        sortOrder: "asc",                   //排序方式
                        sortStable: true,
                        queryParams: objTable.queryParams,  //传递参数（*）
                        //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                        //searchText: "搜索",                 //初始搜索文字
                        //strictSearch: false,                 //全匹配搜索，否则为模糊搜索
                        //showColumns: true,                  //是否显示所有的列
                        //showRefresh: true,                  //是否显示刷新按钮
                        //showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                        columns: [{
                            field: 'Number',
                            title: '编号',
                            align: 'center'
                        }, {
                            field: 'Title',
                            title: '标题',
                            align: 'center'
                        }, {
                            field: 'Content',
                            title: '详细',
                            align: 'center',
                            formatter: ShowDetailedFormatter
                        }, {
                            field: 'Phone',
                            title: '联系方式',
                            align: 'center',
                        }, {
                            field: 'SubmitterName',
                            title: '提交人',
                            align: 'center',
                        }, {
                            field: 'DueDate',
                            title: '截止日期',
                            align: 'center'
                        }, {
                            field: 'SubmittedDate',
                            title: '提交日期',
                            align: 'center'
                        },
                        {
                            field: 'DesignerName',
                            title: '设计师',
                            align: 'center'
                        }, {
                            field: 'EstimatedStartDate',
                            title: '开始设计日期',
                            align: 'center'
                        },
                        {
                            field: 'EstimatedEndDate',
                            title: '结束设计日期',
                            align: 'center'
                        },
                        {
                            field: 'Score',
                            title: '分数',
                            align: 'center'
                        },
                        {
                            field: 'Display',
                            title: '需求状态',
                            align: 'center',
                            formatter: ShowStatesFormatter
                        },
                        {
                            title: '操作',
                            align: 'center',
                            formatter: function (v, r, i) {
                                var ele = "";
                                if ("@ViewBag.IsDesigner" == "True")
                                {
                                    if (r.Display == 1)
                                    {
                                        if ("@ViewBag.IsDesignerAdmin" == "True")
                                            ele += "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnEdit btn btn-md btn-primary\">分配</a> ";
                                        else
                                            ele += "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnEdit btn btn-md btn-primary\">领取</a> ";
                                        ele += "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnDel btn btn-md btn-danger\">取消</a>";
                                    }

                                    //只有已分配的任务才会显示完成按钮
                                    if (r.Display == 2&&("@ViewBag.IsDesignerAdmin" == "True" || @ViewBag.CurrentId==r.DesignerId))
                                    {
                                        ele += "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnEdit btn btn-md btn-primary\">修改</a> ";
                                        ele += "<a href=\"javascript:;\" data-id=\"" + r.Id + "\" class=\"btnComplete btn btn-md btn-primary\">完成</a> ";
                                    }
                                }

                                //只有提交需求的人，才可以在需求完成时打分
                                if (r.Display == 3&& r.SubmitterId == @ViewBag.CurrentId)
                                    ele += "<a data-id=\"" + r.Id + "\" class=\"btnDaCall btn btn-md btn-primary\">打分</a> ";

                                if (r.Display == 3 || r.Display == 5)
                                {
                                    if (r.Uri2 != null && r.Uri2 != "" && ("@ViewBag.IsDesigner" == "True" ||r.SubmitterId == @ViewBag.CurrentId))
                                        ele += "<a href=\"" + r.Uri2 + "\" target=\"_blank\" class=\"btn btn-md btn-primary\">下载</a> ";

                                    ele += "<span data-id=\"" + r.Id + "\" class=\"btn btn-md layui-btn-disabled\">已完成</span> ";
                                }



                                return ele;
                            }
                        }]
                    });
                };
                //得到查询的参数
                objTable.queryParams = function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        pagesize: params.limit,   //页面大小
                        page: params.offset / params.limit + 1,  //页码
                        search: params.search,
                        order: params.order,
                        ordername: params.sort,

                        //自定义参数
                        displayid: $("#displayid").val()
                    };
                    return temp;
                };
                return objTable;
            };
            //初始化Table
            new TableInit().Init();

            //分配任务
            $("#table").on('click', '.btnEdit', function () {
                var id = $(this).attr("data-id");
                OpenWin("分配需求", "/arttask/arttasklist/showcalendar/" + id, '80%', '90%');
            });
            //新增
            $("#btn_add").on('click', function () {
                OpenWin("添加需求", "/arttask/arttasklist/insert", '800px', '560px');
            });
            //显示日历
            $("#btn_calendar").on('click', function () {
                OpenWin("需求排期", "/arttask/arttasklist/showcalendar", '80%', '90%');
            });
            //需求打分
            $("#table").on('click', '.btnDaCall', function () {
                var id = $(this).attr("data-id");
                OpenWin("需求打分", "/arttask/arttasklist/dacall/"+id, '500px', '200px');
            });

            //监听提交
            form.on('submit(formSearch)', function (data) {
                Reload();
                return false;
            });

            //需求详细
            function ShowDetailedFormatter(v, r, i) {
                return "<div class='detail' title=\"" + v + "\"><span>详细</span></div>"
            }

            //详细提示
            var tip;
            $("#table").on('mouseover','div.detail', function () {
                tip = layer.tips($(this).attr("title"), $(this) , {
                    tips: [1, '#166067'],
                    time: 4000
                });
            }).on('mouseout', 'div.detail', function () {
                if (tip) {
                    layer.close(tip);
                }
            });
            //打印需求详细
            $("#table").on('dblclick', 'div.detail', function () {
                var content = $(this).attr("title");
                var new_iframe = document.createElement('IFRAME');
                var doc = null;
                new_iframe.setAttribute('style', 'width:0px;height:0px;position:absolute;left:-2000px;top:-2000px;');
                new_iframe.setAttribute('align', 'center');
                document.body.appendChild(new_iframe);
                doc = new_iframe.contentWindow.document;
                doc.write('<div style="width:100%;height:auto;min-width:1100px;margin:0px auto;"align="left">' + content + '</div>');
                doc.close();
                new_iframe.contentWindow.focus();
                new_iframe.contentWindow.print();
            })

            //需求状态
            function ShowStatesFormatter(v, r, i) {
                if (v == 1)
                    return "<span style=\"color:#1E9FFF\">未分配</span>";
                else if (v == 2)
                    return "<span style=\"color:#5FB878\">已分配</span>";
                else if (v == 3)
                    return "<span style=\"color:#d2d2d2\">已完成</span>";
                else if (v == 4)
                    return "<span style=\"color:#ddd\">已取消</span>";
                else if (v == 5)
                    return "<span style=\"color:#ddd\">已打分</span>";
            }

            //取消需求
            $("#table").on('click', '.btnDel', function () {
                var $this = $(this);
                layer.confirm('确定取消该需求吗？', {
                    btn: ['确定', '取消']
                }, function (index, layero) {
                    var id = $this.data("id");
                    $.post('/arttask/arttasklist/delete/' + id, function (data) {
                        if (data)
                            Reload();
                        else
                            ShowError('取消失败！');
                    });
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            });

            //完成需求
            $("#table").on('click', '.btnComplete', function () {
                var $this = $(this);
                layer.confirm('确定已完成该需求吗？', {
                    btn: ['确定', '取消']
                }, function (index, layero) {
                    var id = $this.data("id");
                    $.post('/arttask/arttasklist/complete/' + id, function (data) {
                        if (data)
                            Reload();
                        else
                            ShowError('修改失败！');
                    });
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            });
        })

        function callBack(data) {
            if (data) {
                if (data.result)
                    Reload();
                else
                    ShowError(data.msg);
            } else {
                ShowError('操作失败！');
            }
        }
    </script>
}


