@using FancyFix.OA.Model;

@model Finance_Statistics
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout_In.cshtml";
}

@section Css{
    <style>
        table tbody td .layui-input-inline .form-control {
            width: 250px;
        }

        table tbody td .layui-input-inline.small .form-control {
            width: 100px;
        }

        table tbody td .layui-input-inline.small {
            width: auto;
        }

        table div.layui-form-switch {
            width: 55px;
        }
    </style>

}

<div class="row">
    <div class="col-md-12">
        <form id="mainform" class="layui-form" action="/financestatistics/statistic/save" method="post" style="margin-bottom:50px;">
            <table class="layui-table">
                <!--列宽度-->
                <colgroup>
                    <col class="col-lg-2">
                    <col class="col-lg-10">
                </colgroup>
                <tbody>
                    <tr>
                        <td align="right"><label for="SaleDate" class="control-label">销售日期：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("SaleDate", (Model?.SaleDate?.ToString("yyyy-MM-dd") ?? ""), new { @class = "form-control", autocomplete = "off", required = "required" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="BusinessIncome" class="control-label">部门：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("DepartmentName", (Model?.DepartmentName ?? ""), new { @class = "form-control", required = "required" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="BusinessIncome" class="control-label">营业收入：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("BusinessIncome", (Model?.BusinessIncome?.ToString("f2") ?? ""), new { @class = "form-control", type = "number"
                               , required = "required" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="BudgetaryValue" class="control-label">营业收入预算值：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("BudgetaryValue", (Model?.BudgetaryValue?.ToString("f2") ?? ""), new { @class = "form-control", type = "number"
                               , required = "required" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="BusinessIncomeRate" class="control-label">营业收入达成率：</label></td>
                        <td class="layui-form-item">
                            <div class="layui-input-inline small">
                                @Html.TextBox("BusinessIncomeRate", (Model?.BusinessIncomeRate?.ToString("f2") ?? ""), new { @class = "form-control", @readonly = "readonly"
                               , type = "number" })
                            </div>
                            <div class="layui-form-mid layui-word-aux">%</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="ActualReceipts" class="control-label">实际收款：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("ActualReceipts", (Model?.ActualReceipts?.ToString("f2") ?? ""), new { @class = "form-control", required = "required"
                               , type = "number" })
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="ActualDeliveryOrderNumber" class="control-label">实际发货订单数量：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("ActualDeliveryOrderNumber", (Model?.ActualDeliveryOrderNumber?.ToString("f2") ?? ""), new { @class = "form-control"
                               , required = "required", type = "number" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><label for="PlanDeliveryOrderNumber" class="control-label">计划发货订单数量：</label></td>
                        <td>
                            <div class="layui-input-inline">
                                @Html.TextBox("PlanDeliveryOrderNumber", (Model?.PlanDeliveryOrderNumber?.ToString("f2") ?? ""), new { @class = "form-control"
                               , required = "required", type = "number" })
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="right"><label for="DeliveryPunctualityRate" class="control-label">发货准时率：</label></td>
                        <td class="layui-form-item">
                            <div class="layui-input-inline small">
                                @Html.TextBox("DeliveryPunctualityRate", (Model?.DeliveryPunctualityRate?.ToString("f2") ?? ""), new { @class = "form-control",
                               type = "number", @readonly = "readonly" })
                            </div>
                            <div class="layui-form-mid layui-word-aux">%</div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"></td>
                        <td>
                            @Html.Hidden("Id", (Model?.Id ?? 0))
                            <button type="submit" id="btnPass" class="btn btn-primary">保存</button>
                            <button type="button" id="cancel" class="btn btn-default" onclick="CloseWin()">取消</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

@section Js{
    <script src="/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/jquery.validator.min.js"></script>
    <script src="/Content/js/plugins/jqvalidate/messages_cn.js"></script>
    <script src="/Content/js/common/tools.js"></script>
    <script>
        layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form();
            var layer = layui.layer;
            var laydate = layui.laydate;

            //日期控件
            $("#SaleDate").click(function () {
                laydate({
                    elem: this,
                    istime: true,
                    format: 'YYYY-MM-DD'
                });
            });
            //表单验证
            var $form = $("#mainform");
            $form.validate();

            //通过
            $("#btnPass").click(function () {
                $("#demandtypeid").attr("disabled", false);
                $("#detailtypeid").attr("disabled", false);
                $form.valid();
            });
        })

    </script>
}